<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/need/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/need/slider.css">
    <title>Home | Pakason</title>
</head>

<body>
    <div class="contenedor-todo">
        <header class="header">
            <div class="container logo-nav-container">
                <a href="" class="logo">Pakason</a>
                <span class="menu-icon"><i class='bx bx-menu-alt-right'></i></span>
                <nav class="navigation">
                    <ul>
                        <li><a href="">Inicio</a></li>
                        <li><a href="">Productos</a></li>
                        <li><a href="">Cuenta</a></li>
                        <li><a href="">Provedores</a></li>
                        <li><a href="">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="main">
            <!--poner a todo container-->
            <div class="container">
                <div class="container-all">

                    <input type="radio" id="1" name="image-slide" hidden />
                    <input type="radio" id="2" name="image-slide" hidden />
                    <input type="radio" id="3" name="image-slide" hidden />

                    <div class="slide">

                        <div class="item-slide">
                            <img src="img/slider/photo1.jpg">
                        </div>

                        <div class="item-slide">
                            <img src="img/slider/photo2.jpg">
                        </div>

                        <div class="item-slide">
                            <img src="img/slider/photo3.jpg">
                        </div>

                    </div>

                </div>
                <div class="banner"><img src="img/home/banner.jpg" alt=""></div>
            </div>
            <article class="texto-centro">
                <h1>Pakason</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil dolorum ex eum culpa molestiae
                    consequatur
                    numquam nobis nemo repellendus ratione adipisci consectetur rem explicabo, ullam aut asperiores
                    similique
                    facilis laboriosam. Atque distinctio rerum voluptatem quae doloremque, delectus veritatis iusto
                    itaque
                    laudantium eius, beatae non, porro sed ipsa impedit eligendi ut. Voluptates sunt blanditiis enim
                    sequi, placeat
                    dolorum maiores ipsa! Culpa perspiciatis optio modi ea ab accusantium reprehenderit, labore repellat
                    distinctio.
                </p>
            </article>
        </main>
        <footer class="footer">
            <p>Pagina diseñada por Team.Digital</p>
        </footer>
    </div>
    <script src="scripts/scripts.js"></script>
</body>

</html>