<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/products.css">
    <link rel="stylesheet" href="css/need/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/need/slider.css">
    <title>Home | Pakason</title>
</head>

<body>
    <div class="contenedor-todo">
        <header class="header">
            <div class="container logo-nav-container">
                <a href="" class="logo">Pakason</a>
                <span class="menu-icon"><i class='bx bx-menu-alt-right'></i></span>
                <nav class="navigation">
                    <ul>
                        <li><a href="">Inicio</a></li>
                        <li><a href="">Productos</a></li>
                        <li><a href="">Provedores</a></li>
                        <li><a href="">Contacto</a></li>
                        <li><a href="">Cuenta</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="main">
            <!--poner a todo container-->
            <div class="container">
                <div class="container-all">
                    <div class="asside-left">
                        <h2>Categorias</h2>
                        <p><a href="">Equipos y notebooks</a></p>
                        <p><a href="">Consolas de video Juego</a></p>
                        <p><a href="">Mother y combos</a></p>
                        <p><a href="">Procesadores y coolers cpus</a></p>
                        <p><a href="">Placas de video y otras</a></p>
                        <p><a href="">Almacenamiento</a></p>
                        <p><a href="">Memorias Ram</a></p>
                        <p><a href="">Gabinetes,fuentes y coolers</a></p>
                        <p><a href="">Monitores y Televisores</a></p>
                        <p><a href="">Teclados y mouses</a></p>
                        <p><a href="">Audio, parlantes, auriculares y mic</a></p>
                        <p><a href="">Muebles</a></p>
                        <p><a href="">Perifericos</a></p>
                        <p><a href="">Conectividad</a></p>
                        <p><a href="">Software</a></p>
                        <p><a href="">Celulares</a></p>
                        <p><a href="">Cables y cargadores</a></p>
                    </div>
                    <div class="products">
                        <div class="separator">
                            <div class="product-1">
                                <img src="img/teclado-gamer.jpg" height="196px" width="264px">
                            </div>
                            <div class="container-product-title">
                                <h1 class="product1-title">Lorem</h1>
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <input type="button" value="COMPRAR AHORA" id="comprar-ahora">
                                <input type="button" value="AGREGAR AL CARRITO" id="agregar-carrito">
                            </div>
                        </div>
                        <div class="separator">
                            <div class="product-1">
                                <img src="img/mouse-gamer1.jpeg" height="196px" width="264px">
                            </div>
                            <div class="container-product-title">
                                <h1 class="product1-title">Lorem</h1>
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                    
                                <input type="button" value="COMPRAR AHORA" id="comprar-ahora">
                                <input type="button" value="AGREGAR AL CARRITO" id="agregar-carrito">
                    
                            </div>
                        </div>
                        <div class="separator">
                            <div class="product-1">
                                <img src="img/teclado-gamer.jpg" height="196px" width="264px">
                            </div>
                            <div class="container-product-title">
                                <h1 class="product1-title">Lorem</h1>
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <input type="button" value="COMPRAR AHORA" id="comprar-ahora">
                                <input type="button" value="AGREGAR AL CARRITO" id="agregar-carrito">
                            </div>
                        </div>
                        <div class="separator">
                            <div class="product-1">
                            </div>
                            <div class="container-product-title">
                                <h1 class="product1-title">Lorem</h1>
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <input type="button" value="COMPRAR AHORA" id="comprar-ahora">
                                <input type="button" value="AGREGAR AL CARRITO" id="agregar-carrito">
                            </div>
                        </div>
                        <div class="separator">
                            <div class="product-1">
                            </div>
                            <div class="container-product-title">
                                <h1 class="product1-title">Lorem</h1>
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <input type="button" value="COMPRAR AHORA" id="comprar-ahora">
                                <input type="button" value="AGREGAR AL CARRITO" id="agregar-carrito">
                            </div>
                        </div>
                        <div class="separator">
                            <div class="product-1">
                            </div>
                            <div class="container-product-title">
                                <h1 class="product1-title">Lorem</h1>
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <input type="button" value="COMPRAR AHORA" id="comprar-ahora">
                                <input type="button" value="AGREGAR AL CARRITO" id="agregar-carrito">
                            </div>
                        </div>
                        <div class="separator">
                            <div class="product-1">
                            </div>
                            <div class="container-product-title">
                                <h1 class="product1-title">Lorem</h1>
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <input type="button" value="COMPRAR AHORA" id="comprar-ahora">
                                <input type="button" value="AGREGAR AL CARRITO" id="agregar-carrito">
                            </div>
                        </div>
                        <div class="separator">
                            <div class="product-1">
                            </div>
                            <div class="container-product-title">
                                <h1 class="product1-title">Lorem</h1>
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <input type="button" value="COMPRAR AHORA" id="comprar-ahora">
                                <input type="button" value="AGREGAR AL CARRITO" id="agregar-carrito">
                            </div>
                    
                        </div>
                        <div class="separator">
                            <div class="product-1">
                            </div>
                            <div class="container-product-title">
                                <h1 class="product1-title">Lorem</h1>
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <input type="button" value="COMPRAR AHORA" id="comprar-ahora">
                                <input type="button" value="AGREGAR AL CARRITO" id="agregar-carrito">
                            </div>
                        
                        </div>
                        <div class="separator">
                            <div class="product-1">
                            </div>
                            <div class="container-product-title">
                                <h1 class="product1-title">Lorem</h1>
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <input type="button" value="COMPRAR AHORA" id="comprar-ahora">
                                <input type="button" value="AGREGAR AL CARRITO" id="agregar-carrito">
                            </div>
                        
                        </div>
                    </div>

                    </div>







                </div>
              
            </div>
         
        </main>



<footer class="footer">
            <p>Pagina diseñada por Team.Digital</p>
</footer>
</div>
    <script src="scripts/scripts.js"></script>
</body>

</html>