<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/need/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/need/slider.css">
    <title>Register | Pakason</title>
</head>

<body>
    <div class="contenedor-todo">
        <header class="header">
            <div class="container logo-nav-container">
                <a href="" class="logo">Pakason</a>
                <span class="menu-icon"><i class='bx bx-menu-alt-right'></i></span>
                <nav class="navigation">
                    <ul>
                        <li><a href="">Inicio</a></li>
                        <li><a href="">Productos</a></li>
                        <li><a href="">Cuenta</a></li>
                        <li><a href="">Provedores</a></li>
                        <li><a href="">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="main">
            <!--poner a todo container-->
            <div class="container">
                <div class="container-all">

                </div>    
            </div>
            
        </main>
        <footer class="footer">
            <p>Pagina diseñada por Team.Digital</p>
        </footer>
    </div>
    <script src="scripts/scripts.js"></script>
</body>

</html>